_site/
.sass-cache/
.DS_Store
.DS_Store/
.jekyll-metadata
checkout/function.zip
.DS_Store
assets/.DS_Store
assets/img/.DS_Store
assets/.DS_Store
Gemfile.lock
.jekyll-cache
.vscode
temp

*.egg-info/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/