---
layout: default
no_skipper: true
invert_header_color: true
title: Японский зелёный чай матча Flow Brew (60 г)
description: Обволакивающий вкус, кремово-ореховое послевкусие и ягодный аромат. Бесплатная доставка по Спб и Москве. Flow Brew
link_image: matcha_tea_in_bowl.jpg

#---
# Offer section
#---
matcha_tea: Чай Матча
reviewsh: отзыва
promotion: Бесплатный набор для заварки новым клиентам. <span class="quantity"></span>
buy: Купить
property: >-
  <i class="fas fa-shipping-fast fnorm"></i> 0 руб за доставку по Спб и Москве<br>
  <i class="fab fa-envira fnorm"></i> Изготовлен в Японии, Киото<br>
  <i class="fas fa-heart fnorm"></i> Обволакивающий вкус и кремово-ореховое послевкусие. Ягодный аромат.
mproperty: >-
  • <a href="./оплата">Оплата после получения</a><br>
  • <a href="./гарантии+и+возврат">Гарантируем возврат средств</a><br>
  • <a href="./контакты">Ответим на ваши вопросы</a>
images:
  - image: matcha_tea_dry_in_bowl_flowbrew.jpg
    alt: Сухой порошок чая матча Flow Brew в чаше
  - image: gift_matcha_tea_box_from_top_ex.jpg
    alt: Чай матча, венчик и чаша в подарочной коробке Flow Brew
  - image: matcha_tea_in_hand.jpg
    alt: Чай матча Flow Brew в чаше в руке
  - image: matcha_tea_in_bowl.jpg
    alt: Заваренный чай матча Flow Brew в чаше

#---
# Benefits section
#---
benifits:
  - name: free-chasen-and-chawan
    image: 
        image: gift_matcha_tea_box_from_front.jpg
        alt: Венчик часен и чаша чаван для чая матча от Flow Brew
    header: Венчик и Чаша в Подарок
    body: >-
      <p>Мы дарим бесплатный набор для заварки новым клиентам.</p><p><span class="quantity"></span></p>
      <p>Для заварки чая матча следует использовать венчик часен и чашу чаван. Иначе в чае останутся комочки, которые испортят вкус.</p>
    
  - name: japanese-quality
    image:
        image: matcha_tea_in_test_tube.jpg
        alt: Чай матча в пробирках
    header: Японское Качество
    body: >-
      <p>Мы попробовали 20 сортов японского чая матча и отобрали лучший. Мы уделили внимание как и вкусу чая, так и его тонизирующему эффекту.</p>
      
  - name: whisk-support
    image:
        image: whisk.jpg
        alt: Венчик часен
    header: Программа Замены Венчика
    body: >-
      <p>Мы бесплатно заменим вам венчик в случае его износа.</p>
      <p>Для этого в комментарии к заказу чая укажите "нужен новый венчик". И вместе с чаем мы вышлем вам замену.</p>

#---
# Faq section
#---
faq: Частые Вопросы
questions:
  - question: Можно ли заварить чай без венчика
    answer: <p>Можно, но вкус будет хуже. В чае будут плавать небольшие комочки. Даже электрический вспениватель для молока оставляет комочки. Для идеального вкуса нужны венчик и чаша.</p>
  - question: Почему чай поставляется в двух упаковках
    answer: <ul><li>Такой объем чая в вашем заказе позволяет доставлять его  бесплатно. А также позволяет дарить бесплатный набор для заварки новым клиентам.</li><li>Чай матча портится от контакта с воздухом. После открытия упаковки у вас есть 3 недели, чтобы им насладиться. 60 г можно не успеть выпить за такой короткий срок.</li></ul>
  - question: Зачем пить чай матча
    answer: >-
      <p>Читайте о полезных свойствах чая матча в нашем блоге:<br><a href="./blog/7-prichin-pit-chaj-matcha">7 причин почему вы подсядете на полезный чай матча</a></p>
  - question: Как заваривать чай матча
    answer: >-
      <p>Чай матча легко заваривается. При должной практике заварка займет у вас не больше 1 минуты.</p>
      <ul>
        <li>Подготовьте воду, температура которой не превышает 70-80С° (можно использовать холодную воду). Чай матча нельзя заваривать кипятком, иначе он будет горчить. Если у вас нет чайника с термометром, можно заранее смешать горячую и холодную воду в отдельной чашке. Простое правило: если вода обжигает вас, она обожжёт и чай.</li>
        <li>Возьмите 1г чая и положите в чаван. Это половина чайной ложки.</li>
        <li>Добавьте 10мл воды и аккуратно размешайте порошок венчиком до однородного состояния, чтобы не оставалось комочков. В итоге должна получиться однородная паста.</li>
        <li>Вода активирует свойства чая. Вдохните и насладитесь его ароматом.</li>
        <li>Добавьте воды или молока по вкусу. Дополнительная жидкость изменит вкус чая. Я, как правило, доливаю 40мл воды. А вот моей жене нравится тёплое кокосовое молоко.</li>
        <li>V-образными движениями взбейте чай венчиком.</li>
        <li>Напиток готов.</li>
      </ul>

#---
# Reviews section
#---
reviews_h: Отзывы
reviews:
  - body: Вкус, насыщенный и не на что не похожий
    name: Мария
    time: 
  - body: Послевкусие как от улуна, смородиновый лист. также вкус чистый, приятный.
    name: Марат
    time: 
  - body: Мой любимый вариант заварки с молоком. Нежный и мягкий вкус )
    name: Марина
    time: 
---

{% assign product = site.products.matcha %}

{% include hero.html %}

<div class="wrapper shop-page">
  {% for item in page.benifits %}
  {% assign remainder = forloop.index | modulo: 2 %}
  <section id="benifit-{{ item.name }}" class="grid {% if remainder == 0 %}benifit-l{% else %}benifit-r{% endif %}">
    <div class="bli">
      {% if item.image %}
        {% if remainder == 0 %}
          {% assign class = 'auto-zoom big-shape right-image' %}
        {% else %}
          {% assign class = 'auto-zoom big-shape left-image' %}
        {% endif %}
        {% include image_variant.html class=class image=item.image.image alt=item.image.alt title=item.image.alt %}
      {% elsif item.video %}
      <div class="player auto-zoom left-image">
      <iframe id="player-1" class="left-image" src="https://www.youtube.com/embed/{{ item.video }}?playsinline=1&enablejsapi=1&controls=0&loop=1&playlist=GRonxog5mbA" frameborder="0" donotallowfullscreen></iframe>
      </div>
      {% endif %}
    </div>
    <div class="benifit-a-side">
      <h2>{{ item.header }}</h2>
      {{ item.body }}
    </div>
  </section>
  {% endfor %}
  
  <section id="offer" class="grid">
      <div class="offer-top">
        <h1>{{ page.matcha_tea }}</h1>
        <div class="tt">
            {% include stars.html %} <a class="lh0 bgn ml1" href="#reviews"
            >{{ page.reviews.size }} {{page.reviewsh}}</a
          >
        </div>
        <p class="pricep">
          <span id="pricevalue">{{ product.price }} руб</span> · {{ product.weight }} г · 60 <i class="fas fa-mug-hot"></i>
          <span id="priceduration"></span>
        </p>
      </div>
  
      <div id="zoom-container" zoom="2.0">
        {% for item in page.images %}
        {% assign id = 'z' | append: forloop.index %}
        {% if forloop.index == 1 %}
          {% include image_variant.html id=id class='offer-img left-image ntrk fadein-img' image=item.image alt=item.alt %}
        {% else %}
          {% include image_variant.html id=id class='offer-img left-image img-hidden ntrk fadein-img' image=item.image alt=item.alt %}
        {% endif %}
        {% endfor %}
      </div>
  
      {% for item in page.images %}
      {% assign ad = forloop.index | minus: 1 | divided_by: 10.0 %}
      {% assign id = 'preview_' | append: forloop.index %}
      {% assign style = 'animation-delay: ' | append: ad | append: 's;' %}
        <div class="ip_ ip{{ forloop.index }}">
          {% include image_variant.html id=id class='image-preview ntrk auto-zoom-ex' image=item.image alt=item.alt style=style%}
        </div>
      {% endfor %}
      <div class="offer-side">
        <p>{{ page.property }}</p>
        <p class="promotion">
          {{ page.promotion }}
        </p>
        {% include cta_button.html id="buy-button-1" text=page.buy href="{{ '/checkout.html' | relative_url }}" %}
        <p class="mproperty">{{ page.mproperty }}</p>
      </div> 
    </section>
    
    <script defer>	
      function update_promotion() {	
        var code = Shop.promocode();	
        if (!code) {	
          return;	
        }	
      
        var discount = Shop.process_coupon(code);	
        if (discount <= 0.0) {	
          return;	
        }
      
        var old_price = parseFloat($('#pricevalue').html());	
        var new_price = old_price * (1.0 - discount);	
      
        $('#pricevalue').html(	
          '<span class="old-price">' + old_price + '</span> <span class="new-price">' + new_price + ' руб (-' + (discount*100.0) + '%)</span>'
          );
  
        var expiration = Shop.promocode_expiration_in_hours(code);
        if (expiration > 0) {
          $('#priceduration').html('<br/><span class="new-price">Цена действительна ' + Shop.int_to_hours(expiration) + '</span>');
        }
      }	
      update_promotion();
      Shop.ec_product_details({{ product | jsonify }});	
      Shop.init_preview();	
      Shop.init_zoom();	
    </script>

  <section id="reviews" class="grid">
      <h2>{{ page.reviews_h }}</h2>      
      <div class="panel card-2 rewiewsc"> 
        {% for item in page.reviews %}
        <p>
          {% include stars.html %}<br>
          {{ item.body }}<br>
          <i>– {{ item.name }}, {{ item.time }}</i>
        </p>
        {% endfor %}
      </div>   
  </section>

  <section id="faq" class="grid">
    <h2>{{ page.faq }}</h2>
    <div class="panel card-2 faq-wrapper">
      {% for item in page.questions %}
      <div class="question">
        <div class="question-h">
          <h3 class="title ntrk">
            {{ item.question }}
          </h3>
          <div class="ui-plus">
          <i class="fas fa-plus"></i>
          <i class="fas fa-minus"></i>
          </div>
        </div>
        <div class="question-content">
          {{ item.answer }}
          {% if item.image %}
          <p>
            <div id="zoom-container" zoom="2.0">
              {% include image_variant.html image=item.image.image alt=item.image.alt %}
            </div>
          </p>
          {% endif %}
          <hr>
        </div>
      </div> 
      {% endfor %}
    </div>
  </section>

  <section id="buy-button-section" class="grid">
    {% include cta_button.html id="buy-button-2" text=page.buy href="{{ '/checkout.html' | relative_url }}" %}
  </section>
  
  <section id="signature" >
      {% include signature.html text=true %}
  </section>

</div>

<script defer>
  Shop.update_inventory_quantity({{ product | jsonify }});
</script>

<script src="https://www.youtube.com/iframe_api" type="application/javascript" defer></script>
